:root {
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(
    135deg,
    #fae095,
    #8ddafe,
    #3c5481,
    #fceec6,
    #f8d264
  );
}
